on:
  push:
    tags:
      - 'v*'
name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true
          submodules: true
      - name: Checkout submodules
        shell: bash
        run: |
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - name: "Import bot's GPG key for signing commits"
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.ACTION_COMMIT_SING_PRIVATE_KEY }}
          passphrase: ${{ secrets.ACTION_COMMIT_SING_PASS }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Extract commit data
        uses: rlespinasse/git-commit-data-action@v1.x
      - name: Update submodules
        id: mod
        run: |
          git config --global user.name "Madman10K"
          git config --global user.email "contact@madladsquad.com"
          git fetch --all
          git submodule update --remote --merge --init --recursive
          ver="${{ github.ref_name }}"
          echo "out=untitled-exec-${ver:1}" >> $GITHUB_OUTPUT
          sed -i "s/project(uexec.*/project(uexec VERSION ${ver:1})/g" CMakeLists.txt
          (git add . && git commit -m "Automatically bump version" && git push origin HEAD:master) || echo "Nothing to commit"
      - name: Create archive
        shell: bash
        run: |
          rm -rf .git/

          mkdir "${{ steps.mod.outputs.out }}" || exit
          mv * ${{ steps.mod.outputs.out }}/ || echo "Errors in move"
          mv .* "${{ steps.mod.outputs.out }}" || echo "Errors in move"

          tar cfJ ${{ steps.mod.outputs.out }}.tar.xz ${{ steps.mod.outputs.out }} || echo "Might have failed"
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body: |
            Check our discord for patch notes: https://discord.gg/4kyWu2Vu
            More on what is done this month can be found on the latest newsletter entry: https://madladsquad.com/#monthly-newsletter
          draft: false
          prerelease: false
          files: ${{ steps.mod.outputs.out }}.tar.xz
          generate_release_notes: false
